
prophet==1.1.5
plotly==5.5.0
streamlit==1.29.0
datetime~=4.4
streamlit==1.29.0
yahooquery==2.3.7
lxml==4.9.4; platform_system != "Linux"
pandas>=1.0.4
click==8.0.0
python-dateutil>=2.8.2

